{% extends 'base.html' %}
{% block content %}
<div style="margin-top: 70px">
    <div class="box-header">
        <h3 class="box-title account-details text-center">Account Details</h3>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="">
            <div class="box">
                <div class="box-body">
                    <table class="table table-primary id=table">
                        <thead>
                            <tr>
                                <th scope="col">Account Number</th>
                                <th scope="col">Account Name</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">ID Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for detail in details %}
                                <td>{{ detail.account_number }}</td>
                                <td>{{ detail.account_name}}</td>
                                <td>{{ detail.phone_number}}</td>
                                <td>{{ detail.id_number }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}